@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
  color: #0e0e10;
}

body {
  margin: 52px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  max-width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size: 16px;
}

label:not(:first-child) {
  margin-top: 24px;
}

input[type="button"] {
  margin-top: 52px;
  background: #1d1f8c;
  border-radius: 4px;
  color: #fff;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

input[type="button"]:hover {
  background: #eaeafb;
  border: 1px solid #1d1f8c;
  color: #1d1f8c;
}

input[type="button"]:disabled {
  background: #aeaebb;
  border: 1px solid #0e0e10;
  color: #0e0e10;
}

.results {
  display: flex;
  align-items: center;
  margin-top: 52px;
}

.resultTitle {
  margin-right: 12px;
}
